/Login-SignUp/node_modules
/Login-SignUp/README.md
/Note-app/node_modules
/Note-app/README.md
/Gallary-project/node_modules
/Gallary-project/README.md
/portfolio/node_modules
/portfolio/README.md
/project/node_modules
/project/README.md
/project 1/node_modules 
/project 1/README.md