*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    padding: 5px;
}
html,body{
    width:100%;
    height:100%;
}
header{
    position: fixed;
    padding: 12px;
    display: flex;
    justify-content: right;
    gap: 10px;
    width:99%;
    

}
header a{
    text-decoration: none;

    padding: 8px 12px;
    border-radius: 80px;
    color: white;
    background-color: rgb(71, 69, 69);
    font-weight: 600;

}
header i{

    padding: 8px 10px;
    border-radius: 50%;
    color: white;
    background-color: rgb(71, 69, 69);
    font-weight: 600;
}

.name{
    font-size: 120px;
    font-weight: 700;
    line-height: 120px;
    letter-spacing: -4px;
}
.detail{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
font-weight: 600;
font-size: 20px;
margin-top: 20px;   

}
.img{
    background-image: url(/main-img.avif);
    width: 100%;
    height: 70%;
    background-size:100% ;
    background-position: center;
margin-top:5px;   
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    position: relative; 
    overflow: hidden;
    transition:background-size 1s ease;
    justify-content: center;
    align-items: center;

}
.img:hover{
      background-size: 120%;
  background-image: url(main-img.avif) right center no-repeat ;
}

.about{
    height: 45%;
    width: 100%;
    display: flex;
justify-content: space-between;
align-items: center;
   padding: 40px 0px;
}
.about h2{
    width: 55%;
    font-size: 62px;
    line-height: 60px;
}
#about-part2{
    width: 35%;
    height: 100%;
    /* padding: 0px 30px; */
    border-left: 2px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
#icons i{
padding: 5px;
    font-size: 25px;
   margin-right: 6px;
   display: flex;


}
#icons a{
    text-decoration: none;
    color: black;
}

.work{
    display: flex;
    border-top: 2px solid  black;
    /* background-color: salmon; */
    height: 50%;
/* margin: 50px; */

}
#left-work{
    /* background-color: burlywood; */
    height: 100%;
    width: 35%;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    font-size: 16px;
    /* font-weight: 550; */
}
#right-work{
    width: 65%;
    height: 100%;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
#up-work{
/* background-color: goldenrod; */
height: 50%;
width: 100%;
display: flex;
/* justify-content: space-between; */
}
#low-work{
/* background-color: rgb(163, 134, 134); */
height: 50%;
width: 100%;
display: flex;
justify-content: space-between;
border-top: 2px solid black;

}
#upright{
    /* background-color: rgb(175, 223, 78); */
    width: 50%;
    height: 80%;
    border-left: 2px solid black;
    padding-left: 30px;
    line-height: 18px;
}
#upright p{
    margin-top: 10px;
}

#upleft{
    border-left: 2px solid black;
    width: 50%;
    padding-left: 30px;
    height: 100%;
    line-height: 18px;
}
#upleft p{
    margin-top: 10px;
}
#lowleft{
    border-left: 2px solid black;
    width: 50%;
    padding-left: 30px;
    height: 90%;
    padding-top: 20px;
    line-height: 18px;
}
#lowleft p {
margin-top: 10px;
}
#lowright{
    
    width: 50%;
    border-left: 2px solid black;
    padding-left: 30px;
    height: 80%;
    margin-top: 20px;
    line-height: 18px;
}
#lowright p{
margin-top: 10px;
}

                                                /* Animation */

#anima{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    /* background-color: grey; */
    border-top: 2px solid black;
   /* margin: 50px; */
}                                                

h1{
    font-size: 3.5em;
   

}
h1 > span{
    position: relative;
    display: inline-block;
    color: rgb(107, 103, 101);
    height: 60px;
    vertical-align: bottom;
    overflow: hidden;
padding-left: 20px;
    /* background-color:grey; */
    margin-bottom: 20px;
}
h1 >span >span{
    display: block;
    animation: animateWords 6s infinite ease;
    /* background-color: #858282; */


}
@keyframes animateWords{
    0%{transform: translateY(0%);}
    20%{transform: translateY(-100%);}
    40%{transform: translateY(-200%);}
    60%{transform: translateY(-300%);}
    80%{transform: translateY(-400%);}
    100%{transform: translateY(-500%);}

}
                                               /* Card Animation  */

.team{
     display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
    height: 70%;
}
 .container{
    display: flex;
    gap: 50px;
}
.card{
    width: 300px;
    height: 378px;
    border-radius: 20px;
    background: url(evans.webp) no-repeat center center;
    background-size: 300px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    position: relative; 
    overflow: hidden;
    transition: background 2s ease,background-size 2s ease;
    justify-content: center;
    align-items: center;
   

}
.card h2{
    position: absolute;
    bottom: 20px;
    left: 40px;
    color: white;
    font-size: 34px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    width: 60%;

}
.card:hover{
    background-size: 400px;
  background: url(evans.webp) right center no-repeat ;
}

.card.alt{
    background: url(robert2.webp) no-repeat center center;
    background-size: 300px;
}

.card.alt:hover{
    background-size: 600px;
    background: url(robert2.webp) right center no-repeat  ;
    /* background-color: red; */
}                                              

.card.blt{
    background: url(chris.webp) no-repeat center center;
    background-size: 300px;
}

.card.blt:hover{
    background-size: 600px;
    background: url(chris.webp) right center no-repeat  ;
    /* background-color: red; */
}                                              